@import "../../style/variables.scss";

.hero_container {
  border-bottom: 3px solid;
  border-image: $gradient-orange 1;
  width: 100vw;

  iframe {
    padding-top: 5rem;
    height: 90vh;
    width: 100vw;
    border: none;
  }
}

@media only screen and (max-width: 768px) {
  .hero_container iframe {
    padding-top: 5rem;
    height: 55vh;
    width: 100vw;
    border: none;
  }
}
