@import "../../style/variables.scss";

.header_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  box-shadow: 0 4px 6px $dark-shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  background-color: $background-color;

  h1 {
    padding-left: 0.7rem;
    font-weight: 400;
    color: $accent-color;
    font-size: 2.1rem;
    cursor: pointer;
    text-transform: uppercase;
  }

  .header_logo_box {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;

    .header_logo_icon {
      color: $accent-color;
      font-size: 2.3rem;
    }
  }

  .header_flags_box {
    padding-right: 3rem;

    .header_flag {
      width: 4rem;
      height: 2.1rem;
      object-fit: cover;
      padding-right: 0.8rem;
    }
  }
}
