@import "../../style/variables.scss";

.header_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  box-shadow: 0 4px 6px $dark-shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  background-color: $background-color;

  a {
    text-decoration: none;
    color: $text-color;
    font-size: 2rem;

    &:hover {
      color: $accent-color;
    }

    &:active {
      scale: 1.1;
    }
  }

  h1 {
    padding-left: 0.7rem;
    font-weight: 400;
    color: $accent-color;
    font-size: 2.1rem;
    cursor: pointer;
    text-transform: uppercase;
  }

  .header_logo_box {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;

    .header_logo_icon {
      color: $accent-color;
      font-size: 2.3rem;
    }
  }

  .header_rightItems_box {
    display: flex;
    gap: 2rem;
    align-items: center;

    .header_icons_box {
      display: flex;
      gap: 1.5rem;

      .header_contact_icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .header_flags_box {
      padding: 0.5rem 3rem 0 0;
      

      .header_flag {
        width: 4rem;
        height: 2.1rem;
        object-fit: cover;
        padding-right: 0.8rem;
        
      }
    }
  }
}
