//colors
$background-color:  #222;
$background-box-color: #1a1a1a;
$dark-shadow: #111;
$light-shadow: #1c1f24;
$gradient-orange: linear-gradient(to right, #ff6d00, #ff9e00);
$text-color: #a9b0b7;
$accent-color: #ff6d00;