@import "../../style/variables.scss";

.carousel_container {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;

  .carousel_arrow {
    font-size: 10rem;
    color: $accent-color;
    padding: 2rem;
    cursor: pointer;

    &:hover {
      color: lighten($accent-color, 10%);
    }

    &:active {
      scale: 1.1;
    }
  }

  .carousel_image_box {
    box-shadow: 6px 6px 8px $dark-shadow, -5px -5px 5px $light-shadow;
    border-radius: 1.6rem;
    width: 84rem;
    height: 64rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;

     &:active {
      scale: 1.3;
    }

    .carousel_image {
      width: 80rem;
      height: 60rem;
      object-fit: contain;
      border-radius: 1.6rem;
      cursor: pointer;

      
    }
  }
}
