@import "../../style/variables.scss";

.footer_container{
  background-color: $background-box-color;
  height: 6rem;
  width: 100vw;
  text-align: center;
  border-top: 2px solid;
  border-image: $gradient-orange 1;
  margin-top: 3rem;

  h4{
    font-size: 1.6rem;
    font-weight: 300;
    padding-top: 2rem;
  }
}