.certificates_container{
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 3rem;

  gap: 5rem;

   @media only screen and (max-width: 768px) {
  flex-direction: column; 
  align-items: center;
  }
}