@import "../../style/variables.scss";

.aboutMe_container {
  max-width: 120rem;
  display: flex;
  flex-direction: column; 
  padding: 5rem 2rem; 
  color: $text-color;

  img {
    width: 100%;
    max-width: 40rem; 
    height: auto;
    border-radius: 1rem;
  }

  a {
    text-decoration: none;
    color: $text-color;
    font-size: 2.4rem;

    &:hover {
      color: $accent-color;
    }

    &:active {
      scale: 1.1;
    }
  }

  .aboutMe_icons_box {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }

  .aboutMe_contact_icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutMe_information_box {
    padding-left: 0; 
    padding-top: 3rem; 
    text-align: center; 

    h3 {
      font-size: 3.6rem;
      font-weight: 500;
      color: $accent-color;
      padding: 2rem 0 3rem;
    }

    p {
      font-size: 1.8rem;
    }
  }

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center; 
    padding: 5rem 0; 

    .aboutMe_information_box {
      padding-left: 5rem; 
      text-align: left; 
    }

    .aboutMe_icons_box {
    display: flex;
    gap: 1.5rem;
    padding-top: 2rem;
    justify-content: start;
  }
  }
}
